
    .div {
      background-color: var(--grey-900, #19191a);
    }
    .main{
        height: 100vh;
        width: 95vw;
        margin-left: -8px;
    }
    .div-2 {
      /* gap: 20px; */
      display: flex;
      margin: -8px -12px 0px 0px;

    }
    @media (max-width: 991px) {
      .div-2 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 60%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column {
        width: 640px;
      }
    }
    .div-3 {
      background: radial-gradient(
        92.19% 89.74% at 32.27% 91.27%,
        rgba(31, 169, 17, 0.81) 17.21%,
        #2f15d0 64.58%,
        rgba(0, 0, 0, 0) 100%
      );
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      width: 102%;
      padding: 50px 0;
    }
    @media (max-width: 991px) {
      .div-3 {
        max-width: 100%;
      }
    }
    .div-4 {
      display: flex;
      margin-top: 36px;
      flex-direction: column;
      align-items: end;
      padding: 0 62px;
    }
    @media (max-width: 991px) {
      .div-4 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-5 {
      align-self: stretch;
    }
    @media (max-width: 991px) {
      .div-5 {
        max-width: 100%;
      }
    }
    .div-6 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-6 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column-2 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 49%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column-2 {
        width: 100%;
      }
    }
    .div-7 {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: start;
    }
    @media (max-width: 991px) {
      .div-7 {
        margin-top: 14px;
      }
    }
    .img {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 32px;
      overflow: hidden;
      max-width: 100%;
    }
    .div-8 {
      color: var(--Background---F2F2F2, #f2f2f2);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      align-self: stretch;
      margin-top: 16px;
      font: 500 31px/37px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .div-9 {
      color: var(--Background---F2F2F2, #f2f2f2);
      align-self: stretch;
      margin-top: 19px;
      font: 500 16px/19px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .column-3 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 26%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-3 {
        width: 100%;
      }
    }
    .div-10 {
      border-radius: 8.4px;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.2) 27.5%,
          rgba(22, 93, 255, 0.16) 157.71%
        ),
        #fff;
      box-shadow: 0px 0.7px 0.7px 0px rgba(0, 0, 0, 0.04),
        0px 2.8px 7px 0px rgba(0, 0, 0, 0.04);
      display: flex;
      width: 100%;
      flex-direction: column;
      margin: 6px auto 0;
      padding: 14px 15px;
    }
    @media (max-width: 991px) {
      .div-10 {
        margin-top: 20px;
      }
    }
    .div-11 {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    .img-2 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 28px;
      overflow: hidden;
      max-width: 100%;
    }
    .div-12 {
      color: var(--grey-900, #19191a);
      text-align: right;
      align-self: start;
      flex-grow: 1;
      white-space: nowrap;
      font: 600 9px/11px Inter, sans-serif;
    }
    @media (max-width: 991px) {
      .div-12 {
        white-space: initial;
      }
    }
    .div-13 {
      color: var(--grey-900, #19191a);
      margin-top: 17px;
      font: 500 14px/17px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .div-14 {
      color: var(--grey-900, #19191a);
      white-space: nowrap;
      align-items: start;
      border-radius: 5.6px;
      border: 0.7px solid var(--neutral-300, #d4d4d4);
      background-color: #fff;
      align-self: start;
      margin-top: 19px;
      width: 162px;
      max-width: 100%;
      justify-content: center;
      padding: 12px 60px 12px 11px;
      font: 500 13px/16px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-14 {
        white-space: initial;
        padding-right: 20px;
      }
    }
    .column-4 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 26%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-4 {
        width: 100%;
      }
    }
    .div-15 {
      border-radius: 8.4px;
      box-shadow: 0px 0.7px 0.7px 0px rgba(0, 0, 0, 0.04),
        0px 2.8px 7px 0px rgba(0, 0, 0, 0.04);
      background-color: #fff;
      display: flex;
      width: 100%;
      flex-direction: column;
      margin: 6px auto 0;
      padding: 14px 49px 14px 13px;
    }
    @media (max-width: 991px) {
      .div-15 {
        margin-top: 20px;
        padding-right: 20px;
      }
    }
    .img-3 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 28px;
      overflow: hidden;
      align-self: start;
      max-width: 100%;
    }
    .div-16 {
      color: var(--grey-900, #19191a);
      margin-top: 58px;
      font: 500 11px/13px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-16 {
        margin-top: 40px;
      }
    }
    .div-17 {
      border-radius: 2.8px;
      background-color: var(--grey-50, rgba(229, 229, 230, 0.5));
      align-self: start;
      display: flex;
      margin-top: 17px;
      width: 131px;
      max-width: 100%;
      gap: 3px;
      padding: 5px 80px 5px 0;
    }
    @media (max-width: 991px) {
      .div-17 {
        padding-right: 20px;
      }
    }
    .div-18 {
      color: var(--grey-800, #313233);
      flex-grow: 1;
      white-space: nowrap;
      font: 500 9px/11px Inter, sans-serif;
    }
    @media (max-width: 991px) {
      .div-18 {
        white-space: initial;
      }
    }
    .img-4 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      flex: 1;
    }
    .div-19 {
      align-self: stretch;
      margin-top: 76px;
    }
    @media (max-width: 991px) {
      .div-19 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-20 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-20 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column-5 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 43%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column-5 {
        width: 100%;
      }
    }
    .img-5 {
      aspect-ratio: 1.09;
      object-fit: contain;
      object-position: center;
      width: 100%;
      box-shadow: 0px 14px 64px -4px rgba(24, 39, 75, 0.12),
        0px 8px 22px -6px rgba(24, 39, 75, 0.12);
      overflow: hidden;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .img-5 {
        margin-top: 38px;
      }
    }
    .column-6 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 57%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-6 {
        width: 100%;
      }
    }
    .div-21 {
      display: flex;
      margin-top: 17px;
      flex-direction: column;
      align-items: end;
    }
    @media (max-width: 991px) {
      .div-21 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-22 {
      display: flex;
      width: 249px;
      max-width: 100%;
      flex-direction: column;
      align-items: end;
    }
    .div-23 {
      color: var(--Background---F2F2F2, #f2f2f2);
      text-align: right;
      align-self: stretch;
      margin-top: 23px;
      font: 500 31px/37px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .div-24 {
      color: var(--Background---F2F2F2, #f2f2f2);
      text-align: right;
      align-self: stretch;
      margin-top: 19px;
      font: 500 16px/19px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-24 {
        max-width: 100%;
      }
    }
    .div-25 {
      color: var(--Background---F2F2F2, #f2f2f2);
      text-align: right;
      width: 400px;
      max-width: 100%;
      margin: 27px 148px 0 0;
      font: 500 25px/30px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-25 {
        margin-right: 10px;
      }
    }
    .div-26 {
      display: flex;
      flex-direction: column;
      margin: 25px 0 10px;
      padding: 0 62px;
    }
    @media (max-width: 991px) {
      .div-26 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-27 {
      background-color: rgba(229, 229, 230, 0.5);
      height: 1px;
    }
    @media (max-width: 991px) {
      .div-27 {
        max-width: 100%;
      }
    }
    .div-28 {
      display: flex;
      margin-top: 40px;
      align-items: end;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-28 {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .img-6 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 60px;
      fill: #fff;
      overflow: hidden;
      margin-top: 77px;
      max-width: 100%;
    }
    @media (max-width: 991px) {
      .img-6 {
        margin-top: 40px;
      }
    }
    .div-29 {
      border-radius: 12px;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04),
        0px 4px 10px 0px rgba(0, 0, 0, 0.04);
      background-color: var(--White, #fff);
      align-self: stretch;
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
      padding: 20px;
    }
    .div-30 {
      display: flex;
      padding-right: 80px;
      justify-content: space-between;
      gap: 8px;
    }
    @media (max-width: 991px) {
      .div-30 {
        padding-right: 20px;
      }
    }
    .div-31 {
      color: var(--grey-900, #19191a);
      white-space: nowrap;
      font: 600 16px/19px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-31 {
        white-space: initial;
      }
    }
    .div-32 {
      color: var(--grey-400, #96979a);
      align-self: center;
      white-space: nowrap;
      margin: auto 0;
      font: 500 13px/16px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-32 {
        white-space: initial;
      }
    }
    .div-33 {
      color: var(--text-5, #1d2129);
      margin-top: 20px;
      font: 500 16px/19px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .div-34 {
      border-radius: 12px;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04),
        0px 4px 10px 0px rgba(0, 0, 0, 0.04);
      background-color: var(--White, #fff);
      align-self: stretch;
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
      padding: 20px;
    }
    .div-35 {
      display: flex;
      padding-right: 46px;
      justify-content: space-between;
      gap: 8px;
    }
    @media (max-width: 991px) {
      .div-35 {
        padding-right: 20px;
      }
    }
    .div-36 {
      color: var(--grey-900, #19191a);
      white-space: nowrap;
      font: 600 16px/19px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-36 {
        white-space: initial;
      }
    }
    .div-37 {
      color: var(--grey-400, #96979a);
      align-self: center;
      white-space: nowrap;
      margin: auto 0;
      font: 500 13px/16px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-37 {
        white-space: initial;
      }
    }
    .div-38 {
      color: var(--text-5, #1d2129);
      margin-top: 20px;
      font: 500 16px/19px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .column-7 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 30%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-7 {
        width: 100%;
      }
    }
    .div-39 {
      box-shadow: 0px 14px 64px -4px rgba(24, 39, 75, 0.12),
        0px 8px 22px -6px rgba(24, 39, 75, 0.12);
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 50px 60px;
    }
    @media (max-width: 991px) {
      .div-39 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-40 {
      display: flex;
      width: 365px;
      max-width: 100%;
      flex-direction: column;
      margin: 327px 0 211px;
    }
    @media (max-width: 991px) {
      .div-40 {
        margin: 40px 0;
      }
    }
    .div-41 {
      display: flex;
      flex-direction: column;
      padding: 0 13px;
    }
    .div-42 {
      color: var(--grey-300, #b0b1b3);
      font: 500 39px/47px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .div-43 {
      color: var(--grey-200, #cacbcc);
      white-space: nowrap;
      align-items: start;
      border-radius: 8px;
      border: 1px solid var(--grey-100, #e5e5e6);
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04),
        0px 4px 10px 0px rgba(0, 0, 0, 0.04);
      background-color: #fff;
      margin-top: 41px;
      justify-content: center;
      padding: 20px 60px 20px 24px;
      font: 500 16px/19px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-43 {
        white-space: initial;
        margin-top: 40px;
        padding: 0 20px;
      }
    }
    .div-44 {
      color: var(--White, #fff);
      text-align: center;
      white-space: nowrap;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid var(--grey-900, #19191a);
      background-color: var(--grey-900, #19191a);
      margin-top: 24px;
      padding: 20px 60px;
      font: 600 16px/19px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-44 {
        white-space: initial;
        padding: 0 20px;
      }
    }
    .div-45 {
      color: var(--grey-900, #19191a);
      text-align: center;
      margin-top: 42px;
      white-space: nowrap;
      font: 600 16px/19px Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-45 {
        margin-top: 40px;
        white-space: initial;
      }
    }
  